{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap %}

{% block title %}掃除当番表{% endblock title %}

{% block extrahead %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="{% static 'css/bootstrap-material-datetimepicker/bootstrap-material-datetimepicker.css' %}" rel="stylesheet">
        <link href="{% static 'css/bootstrap-material-datetimepicker/bootstrap-material-datetimepicker-custom.css' %}" rel="stylesheet">
        <link href="{% static 'css/dataTables/jquery.dataTables.css' %}" rel="stylesheet">
        <script src="{% static 'js/koyomi/koyomi.min.js' %}"></script>
        <script src="{% static 'js/moment/moment.min.js' %}"></script>
        <script src="{% static 'js/bootstrap-material-datetimepicker/bootstrap-material-datetimepicker.js' %}"></script>
        <script src="{% static 'js/dataTables/jquery.dataTables.min.js' %}"></script>
{% endblock extrahead %}

{% block content %}
        <link href="{% static 'css/cleaning_duty/main.css' %}" rel="stylesheet">
        <script src="{% static 'js/cleaning_duty/main.js' %}"></script>

        <div class="header">
            <h1>掃除当番表</h1>
            <h3>次回掃除実施日: {{ next_cleaning_date }}</h3>
            <span id="user_name" value="{{ request.user.id }} {{ request.user.is_staff }}">
                ログインユーザー：{{ request.user.username }} {{ request.user.last_name }} {{ request.user.first_name }}
            </span>
            <div class="menu_button">
                <a href="{% url 'accounts:logout' %}"><button class="btn btn-danger">ログアウト</button></a>
            </div>
        </div>
        <div class="container">
            {% csrf_token %}
            <table id="cleaning_duty_list" class="table table-striped">
                <thead>
                    <tr>
                        <th>社員番号</th>
                        <th>氏名</th>
                        <th>前回当番日</th>
                        <th>当番ステータス</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>

            <div>
                <span>次回掃除実施日:　</span>
                <input type="text" id="next_cleaning_date" class="datepicker" value="{{ next_cleaning_date }}">
                <button type="button" id="save_next_cleaning_date" class="btn btn-success"
                        data-toggle="modal" data-target="#next_cleaning_date_modal">次回掃除実施日を保存</button>
                <button type="button" id="end_of_cleaning" class="btn btn-primary"
                        data-toggle="modal" data-target="#confirmation_modal">掃除完了</button>
            </div>
        </div>

        {# 当番変更確認用モーダル 起動ボタン(不可視) #}
        <button id="duty_change_modal_open" data-toggle="modal" data-target="#duty_change_modal" style="visibility:hidden"></button>

        {# 当番変更確認用モーダル ダイアログ #}
        <div class="modal fade" id="duty_change_modal" tabindex="-1" role="dialog"
             aria-labelledby="duty_change_modal_label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="duty_change_modal_label">確認</h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            <span id="duty_change_modal_employee_name"></span>さんの当番ステータスを
                            「<span id="duty_change_modal_before_duty_status_name"></span>」から
                            「<span id="duty_change_modal_after_duty_status_name"></span>」に変更します。<br>
                            <br>
                        </div>
                        <div id="duty_cancel">
                            当番ステータスが当番から変更されるため、<br>
                            代わりに当番を依頼する人を選択してください。
                            <select id="duty_select" name="duty_select"></select><br>
                            <br>
                        </div>
                        <label><input type="checkbox" id="is_slack_alert_duty_change">slackで通知する</label>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="duty_change_ok" class="btn btn-primary" data-dismiss="modal">はい</button>
                        <button type="button" id="duty_change_ng" class="btn btn-default" data-dismiss="modal">いいえ</button>
                    </div>
                </div>
            </div>
        </div>

        {# 次回掃除実施日変更確認用モーダル ダイアログ #}
        <div class="modal fade" id="next_cleaning_date_modal" tabindex="-1" role="dialog"
             aria-labelledby="next_cleaning_date_modal_label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="next_cleaning_date_modal_label">確認</h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            次回掃除実施日を<span id="next_cleaning_date_modal_next_cleaning_date"></span>に変更します。<br>
                            <br>
                            <label><input type="checkbox" id="is_slack_alert_next_cleaning_date">slackで通知する</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="save_next_cleaning_date_ok" class="btn btn-primary" data-dismiss="modal">はい</button>
                        <button type="button" id="save_next_cleaning_date_ng" class="btn btn-default" data-dismiss="modal">いいえ</button>
                    </div>
                </div>
            </div>
        </div>

        {# 掃除完了確認用モーダル ダイアログ #}
        <div class="modal fade" id="confirmation_modal" tabindex="-1" role="dialog"
             aria-labelledby="confirmation_modal_label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="confirmation_modal_label">確認</h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            <span id="confirmation_modal_cleaning_date">YYYY年MM月DD日</span>の掃除を完了します。<br>
                            当番は以下4名です。<br>
                            <span id="confirmation_modal_cleaning_duty1">当番1</span>さん<br>
                            <span id="confirmation_modal_cleaning_duty2">当番2</span>さん<br>
                            <span id="confirmation_modal_cleaning_duty3">当番3</span>さん<br>
                            <span id="confirmation_modal_cleaning_duty4">当番4</span>さん<br>
                            上記内容で掃除完了登録をしますが、よろしいですか?<br>
                            <br>
                            <label><input type="checkbox" id="is_slack_alert_confirmation">slackで通知する</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="confirmation_ok" class="btn btn-primary" data-dismiss="modal">はい</button>
                        <button type="button" id="confirmation_ng" class="btn btn-default" data-dismiss="modal">いいえ</button>
                    </div>
                </div>
            </div>
        </div>

        {# 結果表示用モーダル 起動ボタン(不可視) #}
        <button id="result_modal_open" data-toggle="modal" data-target="#result_modal" style="visibility:hidden"></button>

        {# 結果表示用モーダル ダイアログ #}
        <div class="modal fade" id="result_modal" tabindex="-1" role="dialog"
             aria-labelledby="result_modal_label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="result_modal_label">処理結果</h4>
                    </div>
                    <div class="modal-body">
                        <div id="result_text"></div>
                    </div>
                    <div class="modal-footer">
                        <a id="result_ok" class="btn btn-primary" data-dismiss="modal">はい</a>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            $(function() {
                var list_content = "#cleaning_duty_list";
                var content_url = "{% url 'cleaning_duty:get_cleaning_duty_list' %}";
                var jsl_holidays = [];
                {% for jsl_holiday in jsl_holidays %}
                jsl_holidays.push('{{ jsl_holiday }}');
                {% endfor %}
                cleaning_duty_list.init_table(list_content, content_url);
                cleaning_duty_list.init_event(jsl_holidays);
            });
        </script>
{% endblock content %}