{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load bootstrap %}

{% block title %}ログイン{% endblock title %}

{% block content %}
    <link href="{% static 'css/cleaning_duty/account.css' %}" rel="stylesheet">

    <form class="form-signin" method="post" action="{% url 'accounts:login' %}" id="form_login">
        {% csrf_token %}
        <h2>ログイン</h2>
        <hr>
        <div>
            <label for="id_username">社員番号</label>
            {% render_field form.username class="form-control" %}
        </div>
        <div>
            <label for="id_password1">パスワード</label>
            {% render_field form.password class="form-control" %}
        </div>
        <br>
        <button type="submit" class="btn btn-primary">ログイン</button>

        <!-- ログイン失敗時には、ここでエラーメッセージを表示する -->
        {% if form.errors %}
            <p>ユーザー名もしくはパスワードが違います。</p>
        {% endif %}

        <a type="button" class="btn btn-info" href="{% url 'accounts:register' %}">新規アカウント作成</a>
    </form>
{% endblock content %}
