{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load bootstrap %}

{% block title %}新規アカウント作成{% endblock title %}

{% block content %}
    <link href="{% static 'css/cleaning_duty/account.css' %}" rel="stylesheet">

    <form action="{% url 'accounts:save_register' %}" method="post" id="form_register">
        {% csrf_token %}
        <h2>新規アカウント作成</h2>
        <hr>
        <div id="user_form">
            <div>
                <label for="id_username">社員番号</label>
                {% render_field user_form.username class="form-control" %}
                {{ user_form.username.errors }}
            </div>
            <div>
                <label for="id_password1">パスワード</label>
                {% render_field user_form.password1 class="form-control" %}
                {{ user_form.password1.errors }}
            </div>
            <div>
                <label for="id_password2">パスワード（確認）</label>
                {% render_field user_form.password2 class="form-control" %}
                {{ user_form.password2.errors }}
            </div>
        </div>
        <div id="profile_form">
            <div>
                <label for="id_last_name">姓</label>
                {% render_field cleaning_duty_form.last_name class="form-control" %}
                {{ cleaning_duty_form.last_name.errors }}
            </div>
            <div>
                <label for="id_first_name">名</label>
                {% render_field cleaning_duty_form.first_name class="form-control" %}
                {{ cleaning_duty_form.first_name.errors }}
            </div>
            <input type="checkbox" name="is_not_cleaning_duty" value="true">掃除当番から除外する(当番の確認のみ行う)
        </div>
        <br>
        <div id="form_button">
            <button type="submit" class="btn btn-primary btn-sm">登録</button>
            <a href="{% url 'accounts:login' %}" class="btn btn-info btn-sm">戻る</a>
        </div>
    </form>
{% endblock content %}
