body {
    padding: 10px;
    background-color: lightgray;
}

form {
    margin: 0 auto;
    padding: 20px;
    background-color: white;
}

#form_login {
    width: 400px;
}

#form_register {
    width: 800px;
}

div {
    margin: 20px 0;
}

#user_form {
    padding: 0 100px 0 20px;
    width: 350px;
    float: left;
}

#profile_form {
    padding: 0 20px;
    width: 350px;
    float: left;
}

#form_button {
    clear: both;
}