body {
    margin: 0;
    padding: 0;
}

.header {
    padding: 10px;
    width: 700px;
    margin: 0 auto;
}

.header h1, .header h3 {
    text-align: center;
}

.header h3 {
    color: red;
}

#user_name {
    padding: 10px 0;
    float: right;
}

.menu_button {
    margin-left: auto;
    width: 100px;
}

.container {
    padding: 10px;
    width: 700px;
    text-align: center;
}

#cleaning_duty_list thead th,
#cleaning_duty_list thead th {
    text-align: center;
}

table.dataTable tbody tr.duty.odd {
    background-color: rgba(0, 0, 255, 0.3);
}

table.dataTable tbody tr.duty.even {
    background-color: rgba(0, 0, 255, 0.2);
}

#cleaning_duty_list [id*=duty_status] {
    background-color: white;
}

#end_of_cleaning {
    margin: 20px 0;
}

#end_of_cleaning button {
    margin-left: 50px;
}

.edit_employee_modal_table {
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 10px;
}